*{
  box-sizing: border-box;
  text-align: center;
  color: white;
  
}


body{
  background-color: rgb(7, 36, 1);
}
.portal img{
width: 100%;
height: auto;
}
input{
  background-color: rgb(168, 161, 161);
  width: 60%;
  height: 25px;
  color: black;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

button{
  background-color:rgb(9, 211, 201);
  width: auto;
  height: 25px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.list-location{
  font-size: 9px;
  background-color: rgb(9, 46, 2);
}
.list-location li{
  margin: 10px;
}
.card{
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
  margin:  auto;
  border-radius: 10px;
}
.card img{
  width: 180px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.info-residents{
  background-color: gray;
  width: auto;
  padding: 12px;
  font-size: 9px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.info-residents h3{
  font-size: 18px;
}
.info-residents ul{
  text-align: left;
}
.info-residents li{
  list-style: none;
  text-align: left;
  margin-bottom: 10px;
}
.list-location{
  display: flex;
  text-align: center;
  margin: 15px;
  font-size: 10px;
  
}
.location li{
  list-style: none;
}
.location h2{
  font-size: 20px;
}
@media (min-width: 620px){
input{
  height: 40px;
  margin-top: 20px;
}
button{
  width: 100px;
  height: 40px;
  margin-top: 15px;
  cursor: pointer;
}
.list-location{
  font-size: 20px;
  background-color: rgb(9, 46, 2);
}
.list-location li{
  width: 33.333%;
}
.card{
  display: flex;
}
.card img{
  width: 300px;
}
.info-residents{
  width: 300px;
  font-size: 15px;
}
.info-residents h3{
  font-size: 30px;
}
.info-residents li{
  margin-bottom: 30px;
  font-size: 18px;
}
}
  

